<div class="container">
  @if (loading()) {
  <p>Cargando detalles del producto...</p>
  } @else if (product()) {
  <div class="product-detail-wrapper">
    <div class="image-section">
      <img [src]="product()?.image" [alt]="product()?.name">
    </div>

    <div class="info-section">
      <a routerLink="/" class="btn-back">← Volver</a>
      <h1>{{ product()?.name }}</h1>
      <p class="price">{{ product()?.price | currency:'$':'symbol':'1.0-0':'es-Co' }} + Envío</p>

      <div class="purchase-zone">
        <div class="quantity-wrapper">
          <label>Cantidad:</label>
          <div class="qty-selector">
            <button type="button" class="qty-btn" (click)="updateQty(-1)" [disabled]="quantity() <= 1">−</button>
            <input type="number" [value]="quantity()" readonly>
            <button type="button" class="qty-btn" (click)="updateQty(1)" [disabled]="quantity() >= 10">+</button>
          </div>
        </div>

        <div class="action-buttons">
          <button class="btn btn-delivery" (click)="showModal.set(true)">
            <span class="icon">🏠</span> Pago contra Entrega
          </button>

          @if(product()?.linkMeli){
          <button class="btn btn-ml" (click)="goToMercadoLibre()">
            <span class="icon">🤝</span> Comprar en MercadoLibre
          </button>
          }

          <!--<button class="btn btn-cart" (click)="addToCart()">
            <span class="icon">🛒</span> Añadir al Carrito
          </button>
          -->
        </div>
      </div>
    </div>
  </div>

  <div class="product-detail-container">
    <section class="main-info">
    </section>

    <hr class="separator">

    <section class="description-section">
      <div class="description-header">
        <h3> Descripción </h3>
      </div>

      <div class="description-content">
        <p class="text-long">
          {{ product()?.description }}
        </p>
      </div>
    </section>
  </div>

  } @else {
  <p>Producto no encontrado.</p>
  }

  @if (showModal() && product()) {
  <app-order-modal [product]="product()!" [quantity]="quantity()" (close)="showModal.set(false)">
  </app-order-modal>
  }
</div>